# This file lists the dependencies for a Python project using LangChain and related libraries.

langchain
langchain-core
langchain-tavily
langchain-openai
langchain-google-genai
langchain-community
langchain-ollama

# MCP servers for tool and resource integration
langchain-mcp-adapters

google-generativeai

mcp

langgraph

# Tools for building supervisor agents
langgraph-supervisor

# Tools for building swarm multi-agent systems
langgraph-swarm

# Memory management
langmem

# Evaluate agent performance
agentevals

# Tracking and evaluation of models
langsmith

# langgraph studio (/> langgraph dev)
langgraph-cli[inmem]

# Dependencies for specific features
httpx
python-dotenv
ipython
ollama

# To use Jupyter notebooks
jupyter
ipykernel

# debug package
debugpy